RTSP_URL=rtsp://admin:DITT_LOSENORD@192.168.50.208:554/live/ch00_0

YOLO_MODEL=yolov8n.pt
CONFIDENCE_THRESHOLD=0.35

VEHICLE_CLASSES=2,3,5,7

COUNT_LINE=100,400,900,400

DATABASE_PATH=data/ccounter.db

SHOW_WINDOW=true