RTSP_URL=rtsp://user:EXCELPSWD@192.168.50.53:554/h264Preview_01_main
DISPLAY_SCALE=0.4

EXPORT_MAX_DAYS=60

YOLO_MODEL=yolov8n.pt
CONFIDENCE_THRESHOLD=0.40
DETECTION_DEBUG=false

VEHICLE_CLASSES=2,3,5,7
DETECTION_CLASSES=0,1,2,3,5,7,15,16,17,18,19

DATABASE_PATH=data/ccounter.db

SHOW_WINDOW=true

SAVE_DETECTIONS=false
SAVE_SNAPSHOTS=true
SNAPSHOT_DIR=data/snapshots
DETECTION_SAVE_INTERVAL_SECONDS=10
PROCESS_EVERY_N_FRAMES=3
DETECTION_ZONE=140,250;360,245;720,215;1040,195;1160,185;1260,215;1160,280;1040,350;760,445;300,485;140,475
DRAW_DETECTION_ZONE=false
COUNT_LINE=675,195,675,420
DRAW_COUNT_LINE=false

TRACKER_MAX_DISTANCE=120
TRACKER_MAX_MISSING_FRAMES=25

LINES=main_count_line:675,195,675,420;parking_entry_line:340,500,960,360

DRAW_LINES=true

WEB_UPLOAD_ENABLED=true
WEB_UPLOAD_METHOD=sftp
WEB_UPLOAD_HOST=ns7.inleed.net
WEB_UPLOAD_PORT=2020
WEB_UPLOAD_USERNAME=s56353
WEB_UPLOAD_PASSWORD=XXXXXXX
WEB_UPLOAD_REMOTE_DIR=/home/s56353/domains/asparagus.se/public_html/CCounter
WEB_UPLOAD_UPLOAD_INDEX=true

PLATE_MIN_CONFIDENCE=0.30
PLATE_READER_GPU=false
PLATE_READER_SHARPNESS_THRESHOLD=80.0
